body {
    min-height: 100vh;
    min-height: -webkit-fill-available;

    color: white;
    font-family: 'Lato', sans-serif;
}

html {
    height: -webkit-fill-available;
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

#landing-background {
    /* background-image: linear-gradient(#323647, #2C3A47); */
    background-image: url(background-image.jpg);
    background-size: cover;

    height: 100vh;
    min-height: 100vh;
}

.vertical-center {
    height: 100vh;
    min-height: 100vh;
    text-shadow: 2px 2px 4px #000;
    display: flex;
    align-items: center;
}

.container-fluid {
  text-align: center;
}

h1 {
    font-size: 14vmin!important;
}

.center {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    text-transform: uppercase;
}

#main-canvas {
    background-color: #171E31;
}

#name-logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
    align-self: center;
    margin-left: 3rem;
}

#main-canvas {
    color: white;

}

#flex-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 2rem 2rem 2rem;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.hello {
    font-size: 1.8rem;
}

.me {
    font-size: 3rem;
}

img {
    display: none;
    height: 250px;  /* width: 337px, height: 393px, ratio: 393/337 **/
    width: calc(250px*(337/393));
    border-radius: 5px;
}

#icons {
    margin: 15rem 4rem 7rem 4rem;
    display: flex;
    justify-content: space-around;
}

#project-page, #resume-page, #contact-page {
    display: none;
}

#project-header {
    text-align: center;
    font-size: 3rem;
}